body {
  background-color: #fff;
}
#header {
  background-color: rgb(19, 75, 128);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
nav {
  display: flex;
  justify-content: space-evenly;
  height: inherit;
}

.navbar-brand {
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.navbar-brand span {
  font-size: 12px;
  text-transform: uppercase;
}
.header a {
  color: #fff;
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}

.SM-button {
  background-image: url("../images/Social-Media-Logos.png");
  height: 70px;
  width: 70px;
  background-size: 320% 320%;
  background-repeat: no-repeat;
}
.linkedin {
  background-position: -150px -105px;
}
.instagram {
  background-position: -80px -38px;
}
.twitter {
  background-position: -10px -105px;
}

.Social-media {
  width: 200px;
  height: 400px;
  object-fit: cover;
}

.carousel-item {
  display: flex !important;
  justify-content: center;
}

.carousel-item img {
}

.project {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 15px 20px;
  padding: 15px 20px;
}
.project-details {
  width: 50%;
}
.project-image-wrapper {
  width: 50%;
}
h1 {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.2px;
  color: #000;
  margin: 0;
  margin-right: 520px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 strong {
  color: rgb(19, 75, 128);
}
h2 {
  color: #333;
  font-family: sans-serif, Georgia, "Times New Roman", Times;
  font-weight: bold;
}
.hero {
  height: 300px;
  background-size: 400px 300px;
  background-repeat: no-repeat;
  background-position-x: right;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.portfolio {
  background: #fafafa;
  padding: 20px;
}
figure {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: inherit;
}
ul li {
  display: flex;
  height: inherit;
}

a {
  text-decoration: none;
}
.footer {
  display: flex;
  justify-content: space-between;
  background: #000;
  color: #fafafa;
  align-items: center;
  padding: 10px;
}
.footer p {
  margin: 0px;
}
.footer a {
  color: #fff;
}
.side_menu {
  background-color: #242939;
  color: #989eb3;
}
